name: Nightly deployment

on:
  workflow_dispatch:

 # if uncommented will run every five minutes
 # schedule:  
 # - cron: '*/5 * * * *'
jobs:
  my-job:
    runs-on: ubuntu-latest
    steps:
      - name: my-step
        run: echo "Hello World!"

      - name: Download artifact
        id: download-artifact
        uses: dawidd6/action-download-artifact@v2
        with:
          # name: production-files
          # repo: {repo_with_username, e.g. xxx/yyy}
          workflow: main.yml
          # path: my_artifact
          search_artifacts: true
          if_no_artifact_found: fail

